@charset "UTF-8";


.shopping{
	display: block;
}

.cart{
	background-color: #FF3300;
	border-radius: 50%;
	width: 160px;
	height:160px;
	position: relative;
	left: 1200px;
	bottom: 200px;
	position: fixed;
}

.fa-shopping-cart{
	position: relative;
	left:40px;
	top: 50px;
	font-size: 70px;
}


.shop{
	background-color: #FF3300;
	border-radius: 20px;
	padding:10px;
}

.login{
	background-color: #FF6600;
	border-radius: 20px;
	padding:10px;
}

.history{
	background-color: #FF6600;
	border-radius: 20px;
	padding:10px;
}

.logout{
	background-color: #FF6600;
	border-radius: 20px;
	padding:10px;
}

.name{
}


/* .navbar-link{
	background-color: #00CC99;
	padding: 10px;
	border-radius: 20px;
} */
