@charset "UTF-8";


.shopping{
	display: block;
}

.cart{
	background-color: red;
	border-radius: 50%;
	width: 160px;
	height:160px;
	position: relative;
	left: 1200px;
	bottom: 200px;
	position: fixed;
}

.fa-shopping-cart{
	position: relative;
	left:40px;
	top: 50px;
	font-size: 70px;
}

/* .navbar-link{
	background-color: #00CC99;
	padding: 10px;
	border-radius: 20px;
} */
