<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ピザ屋のネット注文</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/piza.css" rel="stylesheet">
</head>


<body>


	<div class="container">
		<!-- header -->
		<div th:replace="header :: header"></div>
		<!-- table -->
		<div class="row">
			<div
				class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
				<h3 class="text-center">ショッピングカート</h3>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>
								<div class="text-center">
									商品名
								</div>
							</th>
							<th>
								<div class="text-center">
									サイズ、価格(税抜)、数量
								</div>
							</th>
							<th>
								<div class="text-center">
									トッピング、価格(税抜)
								</div>
							</th>
							<th>
								<div class="text-center">
									小計
								</div>
							</th>
							<th>
							</th>
						</tr>
						<tr th:each="orderItem : ${order.orderItemList}">
							<td>
								<div class="center">
									<img src="img/1.jpg"
										class="img-responsive img-rounded" width="100" height="300" th:src="'/img/' + ${orderItem.item.imagePath}"><br>
									<span th:text="${orderItem.item.name}"></span>
								</div>
							</td>
							<td>
								<span class="price">&nbsp;Ｌ</span>&nbsp;&nbsp;2,380円
								&nbsp;&nbsp;1個
							</td>
							<td>
								<div th:each="orderTopping : ${orderItem.orderToppingList}">
									<ul>
										<li th:text="${orderTopping.topping.name}">ピーマン300円</li>
									</ul>
								</div>
							</td>
							<td>
								<div class="text-center" th:text="${#numbers.formatInteger(order.totalPrice,2,'COMMA')} + '円'">
									3,280円
								</div>
							</td>
							<td>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">削除</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-2 col-xs-8">
				<div class="form-group text-center">
					<span id="total-price" >消費税：8,000円</span><br>
					<span id="total-price" >ご注文金額合計：38,000円 (税込)</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-5 col-xs-3">
				<div class="form-group">
					<form th:action="@{/checkOrder}" method="post">
						<input class="form-control btn btn-warning btn-block"
							type="submit" value="注文に進む">
							<input type="hidden" name="orderId" th:value="4">
							</form>
				</div>
			</div>

		</div>
	</div>
	<!-- end container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>