<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>おもちゃ屋のネット注文</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/list.css" rel="stylesheet">
<link href="/css/piza.css"  rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<!-- オートコンプリート機能追加 -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$(function(){
    /** プロジェクト名が変更になっても修正が必要なくなるよう実装**/
    var pathname = location.pathname.split("/")[1];

    $.ajax({
        /** オートコンプリート用のリストを取得するURL*/
        url: "/getAutoComplete/list",
        dataType: "json",
        type: 'POST'
    }).then(function(searchResult){ /** 検索結果のリストは引数に自動で入る*/
        $('#serchName').autocomplete({ /** 実装したい入力欄のid/classを指定*/
            source : searchResult, /** 候補リスト(必須)*/
            autoFocus: true, /**リスト表示に際してリスト先頭にフォーカスするか*/
            delay: 500, /**キー入力からリスト表示までの遅延時間（ミリ秒）*/
            minLength: 0 /**オートコンプリート機能が働く最小文字数*/
        });
        },function(){
    });
});
</script>


<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!--  ページング機能用 -->
   <!--  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/path/to/jquery.simplePagination.js"></script>
    <link rel= "stylesheet" href="/css/simplePagination.css"> -->
</head>
<body>
	<div class="container">
	
	<!-- header -->
	<div th:replace="header :: header"></div>
		<!-- search form -->
		<div class="row">
			<div
				class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">商品を検索する</div>
						<span th:text="${serchError}">該当する商品がありません</span>
					</div>
					<div class="panel-body">
						<form method="post" action="#" th:action="@{/index/serch}" class="form-horizontal">
							<div class="form-group">
							  <div class="ui-widget">
								<label for="serchName" class="control-label col-sm-2">商品名</label>
								<div class="col-sm-9">
								  <input type="text" name="name" id="serchName"
										class="form-control input-sm"/>
								  </div>
								</div>
							</div>
							<div class="text-center">
								<button type="submit" value="検索" class="btn btn-primary">検索</button>
								<button type="reset" value="クリア" class="btn btn-default">クリア</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	<div class="row">
			<div class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12" >
			   <table class="table table-striped">
						<tbody >
						<tr th:each="item:${itemList}">
						  <th th:each="list:${item}">
						  
						     <div class="selection" id="paging">
						     
						  	
                            <a th:href="@{'/showdetail/showItemDetail?itemId='} + ${list.id}"><img th:src="@{/img/} + ${list.imagePath}" class="img-responsive img-rounded" width="200" height="600"></a>
                            <a th:href="@{'/showdetail/showItemDetail?itemId='} + ${list.id}"><span th:text="${list.name}"></span></a><br>
                            M<span class="price"  th:text="${#numbers.formatInteger(list.priceM,2,'COMMA')}"></span>円<br>
                            L<span class="price"  th:text="${#numbers.formatInteger(list.priceL,2,'COMMA')}"></span>円<br>
                            </div>
                           </th>
						</tr>
						</tbody>
				</table>
         </div>
         </div>
		</div>
		
	<a class="shopping" th:href="@{/shopingCart/showCart}">
		<div class="cart">
			<i class="fas fa-shopping-cart" style="color:white"></i>
		</div>
	</a>

		
	 	<!-- ページング機能用 -->
<!-- 		  <div class="pagination-holder clearfix">
            <div id="light-pagination" class="pagination"></div>
        </div>
        
        
             <script type="text/javascript">

            $(function () {
                $(".pagination").pagination({
                    items: 3,
                    displayedPages: 6,
                    prevText:"前へ",
                    nextText:"次へ",
                    cssStyle: 'light-theme',
                    onPageClick: function (currentPageNumber) {
                        showPage(currentPageNumber);
                    }
                })
            });
            function showPage(currentPageNumber) {
                var page = "#page-" + currentPageNumber;
                $('.selection').hide();
                $(page).show();
            }

        </script> -->
 
</body>
</html>
