<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>おもちゃ屋のネット注文</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/piza.css}"  rel="stylesheet">
</head>
<body>
<div class="container">
	<!-- header -->
	<div th:replace="header :: header"></div>
		
	</div>
	
<!-- 	<h1><strong>注文履歴</strong></h1>
	
	<div th:each="orderHistory:${orderHistoryList}" style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
		<div class="table-responsive col-lg-offset-1 col-lg-12 col-md-offset-1 col-md-12 col-sm-12 col-xs-12" >
			
               オーダーID:<span th:text="${orderHistory.id}">id</span><br>
               ユーザーID:<span th:text="${orderHistory.userId}">id</span><br>
               ステータス:<span th:text="${orderHistory.status}">id</span><br>
               合計金額:<span th:text="${orderHistory.totalPrice}">id</span><br>
               支払い方法:<span th:text="${orderHistory.paymentMethod}">id</span> <br>
                  			 
                  <div th:each="orderItem:${orderHistory.orderItemList}">
                  	数量(orderItem):<span  th:text="${orderItem.quantity}"></span><br>
                  	商品(Item):<span  th:text="${orderItem.item.name}"></span><br>
                  			<div>
                  			トッピング名:<span th:each="orderTopping:${orderItem.orderToppingList}" 
                  			                 th:text="${orderTopping.topping.name}"></span>&nbsp;&nbsp; &nbsp;&nbsp;
                  			</div>
           		 </div><br>
			</div> -->
	<!-- </div> -->

	
	<div class="container">
		<!-- table -->
		<div class="row">
			<div
				class="table-responsive col-lg-offset-1 col-lg-12 col-md-offset-1 col-md-12 col-sm-12 col-xs-12">
				<h3 class="text-center">注文履歴</h3>
				<div th:each="orderHistory:${orderHistoryList}">
				<table class="table table-hover table-bordered" >
					<tbody>
						<tr bgcolor="rgb(0, 0, 0)">
							<th>
								<div class="text-center">
									注文日
								</div>
								<div class="text-center" th:text="${orderHistory.orderDate}">
								</div>
							</th>
							<th>
								<div class="text-center">
									合計金額
								</div>
								<div class="text-center" th:text="${orderHistory.totalPrice}">円
								</div>
							</th>
							<th>
								<div class="text-center">
									宛先氏名
								</div>
								<div class="text-center" th:text="${orderHistory.destinationName}">
								</div>
							</th>
							<th>
								<div class="text-center">
									配達日時
								</div>
								<div class="text-center" th:text="${orderHistory.deliveryTime}">
								</div>
							</th>
						</tr>
						
						<tr>
							<th>
								<div class="text-center">
									商品
								</div>
							</th>
							<th>
								<div class="text-center">
									サイズ、価格(税抜)、数量
								</div>
							</th>
							<th>
								<div class="text-center">
									トッピング、価格(税抜)
								</div>
							</th>
							<th>
								<div class="text-center">
									小計
								</div>
							</th>
						</tr>
						<tr th:each="orderItem:${orderHistory.orderItemList}">
							<td>
								<div class="center">
									<img class="img-responsive img-rounded" width="100" height="200" th:src="@{'/img/' + ${orderItem.item.imagePath}}">
										<span th:text="${orderItem.item.name}">商品名</span>
								</div>
							</td>
							<td>
								<span class="price" th:text="${orderItem.size}">&nbsp;Ｌ</span>&nbsp;&nbsp;
								
									
								
								<span th:if="${orderItem.size} == 'L'">
									<span th:text="${#numbers.formatInteger(orderItem.item.priceL,2,'COMMA')} + '円'"></span>
								</span>
								<span th:if="${orderItem.size} == 'M'">
									<span th:text="${#numbers.formatInteger(orderItem.item.priceM,2,'COMMA')} + '円'">&nbsp;&nbsp;</span>
								</span>
								&nbsp;&nbsp;
								<span th:text="${orderItem.quantity} + '個'">&nbsp;&nbsp;</span>
							</td>
							<td>
								<div th:each="orderTopping : ${orderItem.orderToppingList}">
									<ul>
										<li th:text="${orderTopping.topping.name}">
											<li th:if="${orderItem.size} == 'L'" style="list-style: none">
												<span th:text="${#numbers.formatInteger(orderTopping.topping.priceL,2,'COMMA')} + '円'"></span>
											</li>
											<li th:if="${orderItem.size} == 'M'"  style="list-style: none">
												<span th:text="${#numbers.formatInteger(orderTopping.topping.priceM,2,'COMMA')} + '円'">&nbsp;&nbsp;</span>
											</li>
									</ul>
								</div>
							</td>
							<td>
								<span class="text-center" th:text="${#numbers.formatInteger(orderItem.getSubTotal(),2,'COMMA')} + '円'">
								</span>
							</td>
						</tr>
					</tbody>
				</table><br>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="footer :: footer"></div>
</body>
</html>